@page "/counter"
@using Sapiens.Shared.Entities

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p>Nome: @aluno.Nome</p>
<p>Primeiro Nome: @aluno.PrimeiroNome</p>
<p>Último Nome: @aluno.UltimoNome</p>

@code {
    private Aluno aluno = new();

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        aluno.Nome = "Liluyoud Cury de Lacerda";
    }
}
